@charset "utf-8";
/* CSS Document */

/*md slider*/
.md-layer-1-0-3{
	line-height:24px!important;
}
.md-layer-1-0-4:hover, .md-object.md-layer-2-2-7:hover, .md-object.md-layer-3-0-4:hover, .md-object.md-layer-3-0-5:hover, .md-object.md-layer-3-1-4:hover, .md-object.md-layer-3-1-5:hover, .md-object.md-layer-3-2-4:hover, .md-object.md-layer-5-0-2:hover, .md-object.md-layer-5-1-5:hover, .md-object.md-layer-5-1-6:hover,
.md-object.md-layer-5-2-2:hover, .md-object.md-layer-5-2-3:hover
{
	cursor:pointer;
	background:#FFF;
	color:#727272!important;
}
.md-object.md-layer-6-0-5:hover{
	cursor:pointer;
	color: #fff;
	background-color: #727272;
}
.md-object.md-layer-6-0-6:hover{
	color: #fff!important;
	cursor:pointer;
	background-color: #fc4242;
	border: 2px solid #fc4242;
}
.md-object.md-layer-1-1-3{
	line-height:20px!important;
}
.md-object.md-layer-1-1-4:hover{
	cursor:pointer;
	background:#727272;
	color:#FFF!important;
}
.md-object.md-layer-1-2-1{
	line-height:25px!important;
}
.md-object.md-layer-1-3-5, .md-object.md-layer-5-0-1, .md-object.md-layer-5-1-4{
	line-height:23px!important;
}

.md-object.md-layer-2-0-0, .md-object.md-layer-2-1-2{
	line-height:27px;
}
.md-object.md-layer-2-2-6, .md-object.md-layer-3-0-3, .md-object.md-layer-6-0-4{
	line-height:24px;
}
/*end slider*/


.nomarb h2.section_title{
	margin-bottom:0px;
}
.accrodation > p{
	margin-bottom:-24px;
}
.features_sec44 .accrodation > p{
	margin-bottom:0px!important;
}
.features_sec18 .views-row .one_third{
	margin-top:40px;
}
.nosidearrows_two ul.slides li .cimage img{
	border-radius: 100%;
	width: 118px;
	height: 118px;
	margin: 0px 0px 0px 0px;
}
.features_sec35 .timage img{
	width:135px;
	height:135px;
	border-radius:100%;
}
.flexslider ul li .client_img img{
	width:130px;
	height:130px;
	border-radius:100%;
}
.flexslider.carousel ul.slides li .cimag img{
	width:120px;
	height:120px;
	border-radius:100%;
}

.features_sec29_homepage5 .box p{
	clear:both;
	float:left;
	margin-bottom:20px;
}
.features_sec29_homepage5 .box img{
	float:none!important;
}
.ui-progress-dr {
	margin-top: -45px;
}
.circle_img_dr img{
	width:370px;
	height:370px;
	border-radius:100%;
}
.margin_top_7{
	margin-top:70px;
}
.view-display-id-block_more_about_us_homepage_1 .one_fourth .boxsec img{
	border-radius:100%;
	height:90px;
	width:90px;
}
.content_right .container, .content_left .container{
	max-width:100%!important;
}
.tagged-content a{
	float:left;
	background:#CCCCCC;
	color:#FFF;
	padding:3px 5px;
	border-radius:3px;
	display:block;
	margin-right:6px;
}

.comment-form .form-item, .contact-form .form-item {
	clear:both;
	float:left;
	width:100%;
	margin-bottom:20px;
}
.comment-form label, .contact-form label {
	width:100%;
	float:left;
	clear:both;
	padding:7px 0px!important;
	margin-bottom:2px!important;
}
.comment-form input[type=text], .contact-form input[type=text] {
	width:85%;
	float:left;
	clear:both;
}
.comment-form input[type=submit], .contact-form input[type=submit] {
	float:left;
	margin-right:10px;
}
.comment-list ul.links li {
	float:left;
	margin-right:11px;
	list-style-type:none;
}
.comment-list ul.links {
	position:absolute;
	top:16px;
	right:0px;
}
.tagged-content a:hover{
	background:#999;
}
.error{
	background-repeat:no-repeat;
}
.one_half .cforms .container{
	width:100%!important;
}
#user-login-form ul{
	clear:both;
	float:left;
	width:100%;
	margin-top:15px;
}
#user-login-form input[type=submit]{
	background-image:none!important;
	line-height:normal!important;
	text-indent:inherit!important;
	width:120px;
	color:#FFF;
}
#user-login-form input[type=submit]:hover{
	background:#000;
}
#user-login-form label{
	clear:both;
	float:left;
	width:100%;
}
.grid-container.cbp-l-grid-fullScreen.sidebar{
	visibility:visible!important;
}
.btn.btn-success.contact-form-button.form-submit{
	background-color:#181818;
	border-color:#181818;
}